<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs') %>
<body>
    
    <div style="display: none" id="pageTitle">roadmap</div>

    <%- include('../partials/desktopNav.ejs') %>

    <div class="contentBox">

        <div class="lessonsPage">
            <div class="is-flex is-justify-content-space-between is-align-items-center">
                <p class="label is-medium has-text-weight-medium has-text-grey">Roadmaps</p>
                <div class="buttons is-margine-left">
                    <button class="button is-purpleGrade is-marginless-mins" workrole="showPopup" targeted="roadmapGeneratePop"><i class="fa-regular fa-square-plus" style="padding-right: 6px;"></i> New Roadmap</button>
                </div>
            </div>

            <div class="reportBoxes">
                <div class="reportSection show">
                    <div class="columns is-multiline">
                        <% allRoadmaps.forEach((report, i) => { %>
                            <div class="column is-4 reportData" roadId="<%= report._id%>">
                                <div class="reportBox">
                                    <p class="is-size-7">Started At: 
                                        <span class="dt" job="startDate"><%= report.startDate %></span>
                                    </p>
                                    <p class="is-size-7">Ends At: 
                                        <span class="dt" job="endDate"><%= report.endDate %></span>
                                    </p>
                                    <p class="is-size-6">To Imporve: <span class="sc" job="improve"><%= report.improve %></span></p>
                                    <p class="is-size-6">Daily Study Hours: <span class="sc" job="studyHours"><%= report.studyHours %></span></p>
                                    <div class="is-size-6">Teacher Notes: 
                                        <p class="is-size-7 longTxt tef" job="teacherNotes"><%= report.teacherNote?.length > 0 ? report.teacherNote : "-" %></p>
                                    </div>
                                    <p class="is-size-7 longTxt tef is-hidden" job="roadmap"><%= report.roadmap %></p>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="popup-overlay dataPop">
        <div class="popup-container" id="popHtml">
            <div class="buttons">
                <button class="button is-purpleGrade is-small" id="exportSheet" fileName="report"><i class="fa-solid fa-download"></i></button>
                <i class="fas fa-times" onclick="hideReportDataPopup()"></i>
            </div>
            <div id="onlyreports" class="is-hidden"></div>

            <div id="onlyroads" class="is-hidden">
                <div class="contBoxer">
                    <p class="label is-size-65 has-text-weight-medium">Started At: <span class="is-size-6 writings cus60" job="startDate"></span></p>
                    <p class="label is-size-65 has-text-weight-medium">Ends At: <span class="is-size-6 writings cus60" job="endDate"></span></p>
                    <p class="label is-size-65 has-text-weight-medium">To Imporve: <span class="is-size-6 writing cus60" job="improve"></span></p>
                    <p class="label is-size-65 has-text-weight-medium">Daily Study Hours: <span class="is-size-6 writings cus60" job="studyHours"></span></p>
                        <hr class="is-small is-light">

                    <p class="label has-text-weight-medium cus40">Roadmap</p>
                    <p class="is-size-5-5 writings" job="roadmap"></p>
                        <hr class="is-small is-light">
                    <p class="label has-text-weight-medium cus40">Teacher Notes</p>
                    <p class="is-size-5-5 writings" job="teacherNotes"></p>
                </div>
            </div>

        </div>
    </div>  

    <div class="popup-overlay is-noShadow dataPop opacityAni is-pg-center" id="roadmapGeneratePop">
        <div class="popup-container">
            <div class="buttons">
                <i class="fas fa-times" workrole="hidePopup" role="button"></i>
            </div>
            <div class="contentBoxer">
                <p class="is-size-4 has-text-weight-semibold has-text-centered has-text-purple">Roadmap Generator</p>
                <div class="block active" interfaceId="1">
                    <div class="field">
                        <label class="label has-text-weight-medium cus80">Choose when you'll take your exam / preiod of studying:</label>
                        <div class="control has-icons-left">
                            <input type="date" class="input" id="rmDateSelect" required>
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-calendar-day"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-weight-medium cus80">What you want to improve:</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select id="improve" required>
                                    <option value="Grammar">Grammar</option>
                                    <option value="Speaking">Speaking</option>
                                    <option value="Writing">Writing</option>
                                    <option value="Listening">Listening</option>
                                    <option value="Reading">Reading</option>
                                    <option value="reading, speaking, writing & listening">All</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label has-text-weight-medium cus80">Average of studying hours per day: <span class="is-size-7 cus60">number of hours you will put in studying this roadmap per day</span></label>
                        <div class="control">
                            <input type="number" step="0.5" class="input" placeholder="number of studying hours" id="studyhours" required>
                        </div>
                    </div>

                    <p class="cus60 has-text-centered is-size-65">Overview & Reports Data will be used</p>
                    <br>
                    
                    <div class="has-text-centered">
                        <button class="button is-purpleGradedeg" hideInterfBtn="1" targetInterf="2" id="generateRMbtn"><i class="fa-solid fa-terminal" style="font-size:12px; padding-right:5px"></i> Generate Roadmap</button>
                    </div>
                </div>
                <div class="block has-text-centered" interfaceId="2">
                    <i class="fa-solid fa-spinner has-text-purple is-size-1 load"></i>
                    <p class="is-size-5-5 loadtext">Generating Roadmap</p>
                </div>
                <div class="block" interfaceId="3">
                    <div class="roadmapDetails" id="roadmapDetails">

                    </div>
                    <div class="has-text-centered">
                        <button class="button is-purpleGradedeg" id="activateRMbtn"><i class="fa-solid fa-play" style="font-size:12px; padding-right:5px"></i> Activate</button>
                        <button class="button is-purpleGradedeg" hideInterfBtn="3" targetInterf="2" id="regenerateRMbtn"><i class="fa-solid fa-terminal" style="font-size:12px; padding-right:5px"></i> Regenerate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
    <%- include('../partials/phoneNav.ejs') %>

</body>
</html>
<script src='/models/main.js'></script>
<script src='/models/callAPI.js'></script>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>